.box-tab{
    max-width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px;
    margin: 0 auto;
    -webkit-box-shadow: -1px 0px 15px -12px #000000; 
box-shadow: -1px 0px 15px -12px #000000;
    /* position: relative;
    top: 50%;
    transform: translateX(-50%, -50%); */
}

.tab-header{
    background-color: black;
}

.white-c{
    color: white !important;
}

/* :host ::ng-deep .mat-tab {
    background-color: black;
  } */