<div class="center">
    <form action="">
        <h1>Login</h1>

        <div class="field-box">
            <input type="text">
            <label for="">Usuário</label>
        </div><!-- field-box -->
        
        <div class="field-box">
            <input type="password">
            <label for="">Senha</label>
        </div><!-- field-box -->

        <div class="forgot-password">Esqueci a senha</div>
        
        <button type="submit">Entrar</button>

        <div class="not-member">
            Ainda não possui uma conta? Crie uma!
        </div>
    </form>
</div>